<% if @books.empty? %>
<br />
Oops! No books have been added to this category yet.
<% else %>
<table class="table table-hover"> 
  <h4><%= params[:id]? Category.find(params[:id]).name : "Recently added books" %><h4>
  <tr>
    <th>Image </th> 
    <th>Title 
    <%= link_to "", {:controller => "categories", :action => "index", :ord => "asc", :id => params[:id]},
    :class => "icon-caret-down" %>
    <%= link_to "", {:controller => "categories", :action => "index", :ord => "desc", :id => params[:id]},
    :class => "icon-caret-up" %>
    </th>
    <th>Category </th>
    <th>Author </th>
    <th>Description</th>    
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= image_tag book.image.url %></td>
    <td><%= link_to book.title, book_path(book) %></td>
    <td><%= Category.find(book.category_id).name %></td>
    <td><%= book.author %></td>
    <td><%= book.description %></td>    
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'Show all books', categories_path unless @books.count == Book.all.count %>
